<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="email">email:<input type="text" name="email" id="login_email"></label>
        <label for="password">password:<input type="text" name="password" id="login_password"></label>
        <input type="submit" value="submit">
    </form>
    <form action="/register" method="post">
        <label for="name">Name:<input type="text" name="name" id="name"></label>
        <label for="email">email:<input type="text" name="email" id="register_email"></label>
        <label for="password">password:<input type="text" name="password" id="register_password"></label>
        <label for="password">confirm password:<input type="text" name="confirm" id="register_password_confirm"></label>
        <input type="submit" value="submit">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
</body>
</html>