<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="email">email:<input type="text" name="email" id="login_email"></label>
        <label for="password">password:<input type="text" name="password" id="login_password"></label>
        <input type="submit" value="submit">
    </form>
    <form action="/register" method="post">
        <label for="name">Name:<input type="text" name="name" id="name"></label>
        <label for="email">email:<input type="text" name="email" id="register_email"></label>
        <label for="password">password:<input type="text" name="password" id="register_password"></label>
        <input type="submit" value="submit">
    </form>
</body>
</html>